@import url('https://fonts.googleapis.com/css?family=Germania+One');
h1 {
    text-align: center;
    font-family: 'Germania One', cursive;
}
h4 {
    text-align: center
}
a:link {
    color: blue
}
a:visited {
    color: purple
}
a:hover {
    font-weight: bold
}
a:active {
    text-decoration: none
}